3.2/config/recent-files.txt
3.2/config/platform_support.txt
3.2/config/bookmarks.txt
.DS_Store
*.pyc
3.0/config/bookmarks.txt
3.0/config/platform_support.txt
3.0/config/recent-files.txt
3.0/config/userpref.blend
3.1/config/bookmarks.txt
3.1/config/recent-files.txt
3.1/config/userpref.blend
3.2/config/startup.blend
3.2/config/userpref.blend
3.2/config/startup.blend
3.2/config/userpref.blend
